.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #191b1f;
  height: 100vh;
}
@media (max-width: 600px) {
  .css-1edfbbl-MuiGrid2-root {
    width: auto !important;
  }
}
